<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">

<plist version="1.0">

<dict>

   <key>items</key>

   <array>

       <dict>

           <key>assets</key>

           <array>

               <dict>

                   <key>kind</key>

                   <string>software-package</string>

                   <key>url</key>

                   <string>http://test.strong365.com/test/app/vxuebao.ipa</string>

               </dict>

           </array><key>metadata</key>

           <dict>

               <key>bundle-identifier</key>

               <string>com.strong365.wxbapp</string>

               <key>bundle-version</key>

               <string>1</string>

               <key>kind</key>

               <string>software</string>

               <key>subtitle</key>

               <string>我的app</string>

               <key>title</key>

               <string>远航之道<span style="font-family: Arial, Helvetica, sans-serif;"></string></span>

           </dict>

       </dict>

   </array>

</dict>

</plist>